body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: rgb(121, 187, 255);
    background: linear-gradient(180deg, rgba(121, 187, 255, 1) 0%, rgba(66, 151, 239, 1) 100%);
    padding-top: 60px;
    padding-bottom: 100px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.logo {
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.offer {
    width: 700px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}

.title_span {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: bold;
}

.offer_text {
    text-align: justify;
    font-size: 16px;
    width: 390px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 25px;
}

.btn {
    width: 240px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFD429;
    transition: all 0.5;
}

.btn:hover {
    background-color: #fde689;
}

.header_img {
    margin-top: 20px;
    width: 400px;
}

/* Вторая секция */

.main{
    padding-top: 50px;
    padding-bottom: 120px;
}

.main_title{
    text-align: center;
    margin-bottom: 50px;
}

.main_block{
    display: flex;
    justify-content: space-between;
}

.blocks{
    width: 300px;
    text-align: center;
}

.blocks img {
    margin-bottom: 10px;
}

.blocks p{
    color: rgb(91, 91, 91);
    font-size: 14px;
}

/* Третья секция */

.form_section{
    background-color: #ECF3F8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form_section_blocks{
    text-align: center;
}

.forms{
    width: 240px;
    font-size: 12px;
    padding: 7px 20px;
    border: 1px solid rgb(109, 109, 109);
}

.send_button{
    width: 282px;
    font-size: 12px;
    height: 30px;
    background-color: #FFD429;
    border: 1px solid rgb(109, 109, 109);
}

.send_button:hover{
    background-color: #fde689;
}

/* Низ */

.bottom_section{
    background: rgb(28,86,153);
    background: linear-gradient(180deg, rgba(28,86,153,1) 0%, rgba(41,134,212,1) 48%, rgba(36,115,208,1) 52%, rgba(106,172,226,1) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom_text{
    text-align: center;
    font-size: 14px;
    color: white;
}